.window {
  --window-w: 300px;
  --window-h: 200px;
  --body-h: calc(var(--window-h) - var(--control-bar-h));
  --control-bar-h: 22px;
  --body-color: #181818;
  --drag-border-size: 6px;
  z-index: 5;

  height: fit-content;
  position: absolute;
  font-family: system-ui;
  filter: drop-shadow(2px 4px 6px black);
  animation-duration: 400ms;
  animation-fill-mode: forwards;
}

.window-control-bar {
  background-color: var(--theme-light);
  z-index: 3;
  border-top-left-radius: 5px !important;
  border-top-right-radius: 5px !important;
  display: flex;
  filter: drop-shadow(0 0 2px black);
}

.window-title-wrap {
  display: flex;
  margin: auto;
}

.window-title {
  margin: auto;
  font-size: 16px;
  color: #c7c7c7;
  text-align: end;
  margin-right: calc(var(--control-bar-h) * 0.2);
}

.window-btn-text {
  margin: 0;
  text-align: center;
  animation-duration: 400ms;
}

.window-btn-text.min {
  font-size: 28px;
  margin-top: -13px;
  font-weight: 400;
}

.window-btn-text.close {
  font-weight: 600;
  margin-top: -4px;
}

.window-btn-text.max {
  font-size: 11px;
  transform: rotate(0.87turn);
  margin-left: -1px;
  font-weight: 1000;
}

.window-body {
  background-color: var(--theme-medium);
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  animation-duration: 400ms;
  animation-fill-mode: forwards;
}

.window-content {
  border-width: 0;
  max-height: 100%;
  max-width: 100%;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  margin: 0 auto auto;
}

.window-drag-area {
  height: 100%;
  width: 100%;
}

.window-buttons {
  display: flex;
  margin: auto;
  margin-left: calc(var(--control-bar-h) * 0.2);
}

.resize-box {
  background-color: var(--window-bg-color);
  position: absolute;
}

.resize-box.left {
  height: var(--body-h);
  width: var(--drag-border-size);
  left: 0;
}

.resize-box.bottom {
  width: 100%;
  height: var(--drag-border-size);
  bottom: 0;
}

.resize-box.right {
  height: var(--body-h);
  width: var(--drag-border-size);
  right: 0;
}

.window-btn {
  width: calc(var(--control-bar-h) * 0.75);
  height: calc(var(--control-bar-h) * 0.75);
  border-radius: 50%;
  margin-right: calc(var(--control-bar-h) * 0.2);
  animation-duration: 200ms;
  animation-fill-mode: forwards;
}

.window-btn.close {
  background-color: #fd3939;
}

.window-btn.min {
  background-color: #ffb100;
}

.window-btn.max {
  background-color: #2c9b2c;
}

.window-btn.disabled {
  background-color: var(--theme-medium);
}

@keyframes btnEnter {
  from {
    filter: brightness(1);
  }
  to {
    filter: brightness(0.8);
  }
}

@keyframes btnLeave {
  from {
    filter: brightness(0.8);
  }
  to {
    filter: brightness(1);
  }
}

@keyframes textEnter {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes textLeave {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

@keyframes hideWindow {
  from {
  }
  to {
    height: 0;
    display: none;
  }
}

@keyframes maxWindow {
  from {
  }
  to {
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
  }
}
